<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 상세 조회</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>책 상세 조회</h1>
<div id="bookDetails">
    <p>책 정보를 불러오는 중입니다...</p>
</div>

<script>
    const params = URLSearchParams(window.location.search);
    const bookId = params.get("id")

    $.ajax({
        url: `/api/products/${bookId}`,
        method: 'GET',
        success: function (book) {
            if (data) {
                $('#bookDetails').html(
                    `<h2>책 상세 정보</h2>
                            <p><strong>책 ID:</strong>${book.id}</p>
                            <p><strong>책 이름:</strong>${book.name}</p>
                            <p><strong>가격:</strong> 원${book.price}</p>
                            <p><strong>설명:</strong>${book.description}</p>
                            <p><strong>재고:</strong> ${book.amount}</p>`
                );
            } else {
                $('#bookDetails').html('<p>조회 실패</p>')

            }
        },
        error: function () {
            $('#bookDetails').html('<p>백엔드에서 데이터 로딩 실패</p>');
        }
    })
</script>



</body>
</html>