<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 조회</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>책 조회</h1>
<ul id="bookList"></ul>
<script>

  function getBookList() {
    let bookList = $('#bookList');
    $.ajax({
      url: '/api/books',
      method: 'GET',
      success: function (data) {
        bookList.empty();
        $.each(data, function (index, book) {
          bookList.append(
                  `
                        <li> <a> ${book.name} </a> </li>
                        `
          )
        })
      },
      error: function () {
        bookList.html('<p>컨트롤러에서 데이터를 가져오는데 문제가 생겼습니다</p>');
      }
    })
  }

  getBookList();
</script>



</body>
</html>